<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{movies}">Movies</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>
    <nav class="p-0 pl-2 pr-2 navbar navbar-expand-sm navbar-dark bg-dark text-light">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">
            <img src="../../resources/static/img/icon_cnm.svg"
                 th:src="@{/resources/static/img/icon_cnm.svg}"
                 width="40" height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarsNav">
            <nav class="navbar-nav">
                <a class="nav-item nav-link active"
                   href="movies.html"
                   th:href="@{/movies}"
                   th:text="#{movies}">Movies</a>
                <a class="nav-item nav-link"
                   href="seances.html"
                   th:href="@{/seances}"
                   th:text="#{seances}">Seances</a>
            </nav>

        </div>
        <div>
            <h6>
                <a href="movies?lang=en" class="badge badge-light">en</a>
                <a href="movies?lang=ru" class="badge badge-light">ru</a>
            </h6>
        </div>
    </nav>
<header>
    <nav class="mb-2 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <span class="navbar-brand text-uppercase mr-auto"
              th:text="#{movies}">
            Movies
        </span>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="movie.html"
                   th:href="@{/movie}"
                   class="btn btn-light"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   th:title="#{add_movie}">
                    <i class="fa fa-plus-circle" style="font-size:24px"></i>
                    <span class="d-none d-md-inline"
                          th:text="#{add}">Add</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<section id="movies">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" th:if="not ${movies.isEmpty()}">
                    <div class="card-body">
                        <table class="mb-2 table table-striped">
                            <thead class="thead-inverse">
                            <tr>
                                <th th:text="#{title}">Title</th>
                                <th th:text="#{boxoffice}">Box office</th>
                                <th th:text="#{activity}">Activity</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="movie : ${movies}">
                                <td th:text="${movie.movieName}">Terminator</td>
                                <td th:text="${movie.earned}">100 000</td>
                                <td th:text="${movie.movieActive} ? #{active} : #{removed}">Active/Removed</td>
                                <td class="text-right">
                                    <a href="movie.html"
                                       th:href="@{|/movie/${movie.movieId}|}"
                                       class="btn btn-outline-dark btn-sm"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       th:title="#{edit_movie}">
                                        <i class="fa fa-edit" style="font-size:24px"></i>
                                    </a>
                                    <span data-toggle="modal"
                                          data-target="#confirmRemoveModal"
                                          th:attr="data-id=${movie.movieId}, data-name=${movie.movieName}">
                                        <button th:disabled="${movie.haveSeance or not movie.movieActive}"
                                                role="button"
                                                class="btn btn-outline-dark btn-md"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                th:title="${not movie.haveSeance or movie.movieActive} ? #{remove_movie} : ''">
                                            <i class="fa fa-trash-o" style="font-size:24px"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card alert alert-warning"
                         th:if="${movies.isEmpty()}">
                        <h2>Nothing found</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- RemoveModal -->
    <div class="modal fade"
         id="confirmRemoveModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header alert alert-danger">
                    <h5 class="modal-title "
                        id="exampleModalLongTitle">
                        Deactivate film
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to deactivate this movie?
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            th:text="#{close_button}">Cancel</button>
                    <a id="deleteUrl"
                       href="#"
                       class="btn btn-danger"
                       th:text="#{remove_button}">Remove</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../../resources/static/js/jquery.min.js"
            th:src="@{/resources/static/js/jquery.min.js}"></script>
    <script src="../../resources/static/js/popper.min.js"
            th:src="@{/resources/static/js/popper.min.js}"></script>
    <script src="../../resources/static/js/bootstrap.min.js"
            th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $('#confirmRemoveModal').on('show.bs.modal', function (event) {
       var target = $(event.relatedTarget)
       $(this).find('.modal-body').text('Please confirm delete movie: "' + target.data('name') + '"')
       document.getElementById('deleteUrl').href = '/movie/' + target.data('id') + '/delete';
    })
</script>
</body>
</html>
